---
// Component Imports
import Layout from '../layouts/Layout.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
	<h1>Testing</h1>
</Layout>